@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

a{
    text-decoration: none;
}
h1{
    font-weight: bold;
}
p{
    opacity:1;
    letter-spacing: 1px;
    word-spacing:2px;
    line-height:1.5;
    font-weight:normal;
}

#root{
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
}